<!-- Author: Liwei Fan -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Student Accounts Manager</title>
</head>
<body>
    <h1>Welcome to the Student Accounts Manger!</h1>
    <div>Please login or register an account:</div>

    <form action="/deal_request" method="get">
        <table>
            <tbody>
                <div>Account:</div><input type="text" name="username">
                <div>Password:</div><input type="text" name="password">
            </tbody>
        </table>
        <input type="submit" value="submit" />
        <!-- <input type="submit" value="register"/> -->
    </form>
</body>
<script>
    var is_auth = "{{is_auth}}";
    if(!is_auth.length == 0){
        alert("Username/Password Error!");
    }
</script>
</html>