<!-- Author: Liwei Fan -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Student Accounts Manager</title>
    </head>
    <body>
        <h1>Welcome, {{username}}!</h1>
        <div>Account Info</div>
        <form action="/show_info" method="post">
            <table>
                <tbody>
                    <div>username: {{username}}</div>
                    <div>email: {{email}}</div>
                    <div>info: {{info}}</div>
                </tbody>
            </table>
        </form>
        
    </body>
    
</html>

